lxml
reg_interface
## 'tabulate' dropped explicit support for Python 2.6 in version 0.8.1
## Version 0.8.0 isn't in the CHANGELOG
tabulate>=0.4.4,<0.8; python_version == '2.6'
tabulate>=0.4.4; python_version >= '2.7'
